<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"></head>
<body class="background">

<!--Navigation-->
<nav th:replace="base :: navbar"></nav>

<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header"><h6>From: on </h6></div>
    <div class="card-body">
        <p class="card-text"></p>
    </div>
</div>


<!--Image Slider-->
<div id="slides" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.imgur.com/1xo6H82.png" class="img-flip">
            <!--            <div class="carousel-caption">-->
            <!--                <h1 class="display-2">Brine</h1>-->
            <!--            </div>-->
        </div>
    </div>
</div>

<!--Footer-->
<footer th:replace="base :: footer"></footer>

<!--Javascript links-->
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>