<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"></head>
<body>

<!--Navigation-->
<nav th:replace="base :: navbar"></nav>

<!--Image Slider-->
<div id="slides" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dn5drwg3e/image/upload/v1574261898/background_heuacp.jpg" class="img-flip">
            <!--            <div class="carousel-caption">-->
            <!--                <h1 class="display-2">Brine</h1>-->
            <!--            </div>-->
        </div>
    </div>
</div>

<div th:each="message : ${messages}">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><h6>From: [[${message.sentby}]] on [[${message.date}]]</h6></div>
        <div class="card-body">
            <p class="card-text">[[${message.content}]]</p>
            <td>
                <div>
                    <div th:if="${message.imageurl} != null">
                        <img th:src="${message.imageurl}" class="img-thumbnail">
                    </div>
                </div>
            </td>
        </div>
    </div>
    <a class="btn btn-danger btn-sm" th:href="@{/detail/{id}(id=${message.id})}"
       role="button">Details</a>
</div>


<!--Footer-->
<footer th:replace="base :: footer"></footer>

<!--Javascript links-->
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>