<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"></head>
<body>

<!--Navigation-->
<nav th:replace="base :: navbar"></nav>


    <div class="card text-white bg-secondary mb-3" th:src="${message.content}"  style="max-width: 18rem;">
        <div class="card-header"><h6>From: [[${message.sentby}]] on [[${message.date}]]</h6></div>
        <div class="card-body">
            <p class="card-text">[[${message.content}]]</p>
            <td>
                <div>
                    <div th:if="${message.imageurl} != null">
                    <div th:if="${message.imageurl} != ' '">
                        <img th:src="${message.imageurl}" class="img-thumbnail">
                    </div>
                    </div>
                </div>
            </td>
        </div>
    </div>
    <td>
        <a class="btn btn-info" role="button" th:href="@{/update/{id}(id=${message.id})}">Update</a>
        <a class="btn btn-info" role="button" th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
    </td>

<!--Footer-->
<footer th:replace="base :: footer"></footer>

<!--Javascript links-->
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>